/* 2014 Oxi Studios */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: 336600;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
 /* background: rgba(250, 250, 250, 0.8); */
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}

.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}

.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}

.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

.container {
  margin: 80px auto;
  width: 640px;
}

.tabcontainer {
	margin: 80px auto;
	width: 640 px;
}

.signup {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.signup:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.signup label {
    font-size: 5;
}

.signup h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.signup p {
  margin: 20px 0 0;
}

.signup p:first-child {
  margin-top: 0;
}

.signup input[type=text], .signup input[type=password] {
  width: 278px;
}

.signup p.remember_me {
  float: left;
  line-height: 31px;
}

.signup p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}

.signup p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.signup p.submit {
  text-align: center;
}

.signup-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}

.signup-help a {
  color: #cce7fa;
  text-decoration: none;
}

.signup-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}







* {
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url(images/img01.gif) repeat-x;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}

form {
}

input, textarea {
  padding: 2px 5px;
  font: normal 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333333;
}

h1, h2, h3 {
  margin-top: 1.5em;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}
`
h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

p, ul, ol {
  margin-top: 1.5em;
  line-height: 160%;
}

ul, ol {
  margin-left: 3em;
}

blockquote {
  margin-left: 3em;
  margin-right: 3em;
}

a {
  color: #CC6B47;
}

a:hover {
  text-decoration: none;
  color: #3760BF;
}

a img {
  border: none;
}

img.left {
  float: left;
  margin: 0 20px 0 0;
}

img.right {
  float: right;
  margin: 0 0 0 20px;
}

hr {
  display: none;
}

/* Header */

#header {
  height: 210px;
  margin: 0 auto;
  background: url(images/daytona2.png);
}

#logo {
  width: 778px;
  height: 110px;
  margin: 0 auto;
}

#logo h1, #logo h2 {
  margin: 0;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-weight: normal;
  color: #FFFFFF;
}

#logo h1 {
  float: left;
  padding-top: 40px;
  font-size: 4em;
}

#logo h1 a {
  text-decoration: none;
  color: #FFFFFF;
}

#logo h2 {
  float: left;
  padding: 67px 0 0 8px;
  font-size: 2em;
  font-style: italic;
  color: #858585;
}

/* Menu */

#menu-wrap {
  background: #2E2E2E;
}

#menu {
  width: 778px;
  height: 50px;
  margin: 0 auto;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

#menu li {
  display: inline;
}

#menu a {
  float: left;
  margin-right: 6px;
  padding: 5px 20px 5px 20px;
  background: #4C4D51;
  border: 1px #575C5F solid;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #FFFFFF;
}

#menu a:hover {
  text-decoration: none;
  background: #983D3A;
  border: 1px #D45951 solid;
}

#menu .first a {
  background: #983D3A;
  border: 1px #D45951 solid;
}

/* Page */

#page {
  width: 778px;
  margin: 0 auto;
}

#content {
  background: #151515;
  border-bottom: 4px #BBB082 solid;
}

/* Post */

.post {
}

.post .title {
  margin: 0;
}

.post .title a {
  text-decoration: none;
}

.post .byline {
  margin: 0 0 30px 0;
  line-height: normal;
}

.post .entry {
}

.post .meta {
  clear: both;
}

.post .meta a {
  text-decoration: none;
  font-weight: bold;
}

.post .meta a:hover {
  text-decoration: underline;
}

.post .meta .comments {
  padding-left: 20px;
  background: url(images/img07.gif) no-repeat left center;
}

.post .meta .permalink {
  padding-left: 20px;
  background: url(images/img08.gif) no-repeat left center;
}

/* Latest Post */


#latest-post-wrap {
  background: url(images/BlackSquareTexture.jpg);
  border-bottom: 4px #BBB082 solid;
}

#latest-post {
  width: 778px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

#latest-post h1 {
  margin: 10px 0;
  padding: 0;
}

#latest-post p {
  margin: 0;
  padding-bottom: 15px;
}

#latest-post .meta {
  padding: 10px 0 0 0;
}

#latest-post .byline {
  margin: 0 0 10px 0;
  padding: 10px 0;
  background: #0066ff;
  font-size: .9em;
  font-weight: bold;
  color: #FFFFFF;
}

#latest-post .byline span {
  padding: 0 0 0 15px;
}

#latest-post .byline a {
  padding: 0 30px 0 0;
  background: url(images/img05.gif) no-repeat right top;
  text-decoration: none;
}

#latest-post .byline a:hover {
  text-decoration: underline;
}

/* Recent Posts */

#recent-posts {
  width: 778px;
  margin: 0 auto;
}

#recent-posts h2 {
  margin: 0;
  padding: 10px 0 10px 15px;
  background: #0066ff;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  color: #FFFFFF;
}

#recent-posts h3 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 1.4em;
}

#recent-posts h3 a {
  text-decoration: none;
}

#recent-posts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#recent-posts li {
  float: left;
  width: 240px;
  padding-left: 29px;
}

#recent-posts li.first {
  padding: 0;
}

#recent-posts .byline {
  margin: 0 0 10px 0;
  padding: 0;
  border-bottom: 1px #0066ff solid;
  text-align: left;
  font-size: 10px;
  font-weight: bold;
}

#recent-posts .byline span {
}

#recent-posts .byline a {
  padding: 0 30px 0 0;
  background: url(images/img05.gif) no-repeat right top;
  text-decoration: none;
}

#recent-posts .byline a:hover {
  text-decoration: underline;
}

#recent-posts p {
  padding: 0;
  margin: 0;
}


/* Sidebar */

#sidebar {
  width: 778px;
  margin: 0 auto;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li {
  float: left;
  width: 259px;
}

#sidebar li ul {
  padding-left: 20px;
}

#sidebar li li {
  float: none;
  width: auto;
  padding: 3px 0;
  background: none;
}

#sidebar h2 {
  margin: 0 0 20px 0;
  padding: 10px 0 10px 16px;
  background: #0066ff;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: .9em;
  font-weight: bold;
  color: #FFFFFF;
}

/* Search */

#search {
}

#search #s {
  width: 80%;
  margin-bottom: 10px;
}

/* Calendar */

#calendar {
}

#calendar table, #calendar caption {
  width: 100%;
  text-align: center;
}

#calendar caption {
  font-weight: bold;
}

#calendar a {
  font-weight: bold;
}

/* Footer */

#footer {
  clear: both;
  margin: 0 auto;
  padding: 20px 0;
  background: url(images/img11.gif) repeat-x;
  text-align: center;
}

#footer p {
  margin: 0;
  font-size: .8em;
  color: #0066ff;
}

/* Image Flipping */

.panel {
  width: 100px;
  height: 150px;
  margin: auto;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

.front {
  z-index: 2;
  background-image: url();
}

.back {
  z-index: 1;
  -webkit-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);  
  transform: rotateX(-180deg);  
  background-image: url();
}

.panel:hover .front {
  z-index: 1;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.panel:hover .back {
  z-index: 2;   
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
